@using Dal.Model;
@model GameplayViewModel

<body>
    <form method="post" action="/Game/Gameplay">
        @{
            <h1>Quiz: @ViewData["quiz"]</h1>
            <h2>Theme: @ViewData["theme"]</h2>

            int id = 0;

            <h3>@Model.Question.Text</h3>
            foreach (var item in Model.Question.Answers)
            {
                <p>
                    <input type="checkbox" class="checkbox" value="true" id="@id" name="givedAnswerList[@id].Correct" />
                    <label for="@id">@item.Text</label>
                </p>
                <input type="text" value="@Model.Question.QuestionId" name="givedAnswerList[@id].QuestionId" hidden />
                <input type="text" value="@item.AnswerId" name="givedAnswerList[@id].AnswerId" hidden />
                <input type="text" value="@Model.SessionId" name="givedAnswerList[@id].SessionId" hidden />

                id++;
            }

            <input type="text" value="@Model.Question.QuestionId" name="questionId" hidden />
        }
        <div id="nextquestiondiv">
            <button id="nextquestionbutton" type="submit">Next question</button>
        </div>
        <h1>Points: @Model.Points</h1>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/question.js"></script>

</body>